<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %c - %m%n" />
		</layout>
	</appender>

	<!-- Application Loggers -->
	<logger name="kr.co.nse.pms">
		<level value="error" />
	</logger>
	<logger name="com.nse.config">
		<level value="error" />
	</logger>
	<logger name="select.spring.exquery">
		<level value="error" />
	</logger>

	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="error" />
	</logger>
	<logger name="org.springframework.beans">
		<level value="error" />
	</logger>
	<logger name="org.springframework.context">
		<level value="error" />
	</logger>
	<logger name="org.springframework.web">
		<level value="error" />
	</logger>

	<!-- war 파일 배포시 여기부터는 info로 변경 할 것 -->
	<logger name="java.sql">
		<level value="error" />
	</logger>
	<logger name="com.ibatis">
		<level value="error" />
	</logger>
	<logger name="org.mybatis">
		<level value="error" />
	</logger>
	<logger name="org.apache">
		<level value="error" />
	</logger>

	<!-- 출력된 데이터 로그에 볼 경우 -->
	<logger name="jdbc.resultsettable">
		<level value="error" />
	</logger>

	<!-- 쿼리 로그에 출력 -->
	<logger name="jdbc.sqlonly">
		<level value="error" />
	</logger>
	<logger name="net.sf.log4jdbc" additivity="false">
		<level value="error" />
	</logger>

	<!-- Root Logger -->
	<root>
		<priority value="warn" />
		<appender-ref ref="console" />
	</root>

</log4j:configuration>
